
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.intro{
    background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("jm.jpeg") ;
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height:1500px;
}

a:visited,a:link{
    height:65px;
    width:150px;
    font-size:31px;
    color:rgb(16, 24, 18);
    background-color: rgb(210, 221, 212);
    padding:0px;
    text-decoration:none;
    border-radius:160px;
    
}
ul{
    display:inline-block;
}
li{
    margin-top:20px;
}
a:active,a:hover{
    height:65px;
    width:150px;
    font-size:31px;
    color:rgb(214, 226, 218);
    background-color: rgb(255, 153, 0);
    padding:0px;
    
}

    
.head{
color:rgba(9, 14, 14, 0.747);
background-color:rgba(235, 130, 10, 0.897);
background-image: linear-gradient(to right,rgba(255, 123, 0, 0.911),white,rgba(255, 123, 0, 0.904));
text-align:center;
font-size: 100px;
margin-top:0;
}
.icon-big {
    font-size: 250%;
    
    color: #22b8e6;
    margin-top:20px;
    
}
.para{
    margin-top:20px;
    margin-left:220px;
    margin-right:220px;
    font-size:125%;
    line-height:1.5;
    text-align:justify;
    font-weight:bold;
}
.align{
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:500px;
    height:300px;
    border: 15px solid green;
    background-color: black;
    filter:saturate(3);
}
.solo{
    margin-left:150px;
    margin-right:150px;
    margin-top:150px;
}
input[type=text], select {
    width: 95%;
    padding: 12px 20px;
    margin: 16px 16px 16px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select{
    width: 96%;
    padding: 12px 20px;
    margin: 16px 16px 16px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }